body {
    background: url("london.jpg")no-repeat center center fixed;
    background-size: 100%;
}

.card-list {
    width: 300px;
    height: 150px;
    border: 0.3px solid;
    background-color: #f3eeba;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px rgba(21, 21, 21, 0.62), -0.5em 0 .4em rgba(21, 21, 21, 0.62);
    transition: width 0.5s, height 0.5s;
}

.card-list:hover {
    width: 320px;
    height: 165px;
}

.card-body {
    text-align: center;
}

.detail{

    margin: auto;
     margin-top: 20px;
    border: 0.3px solid white;
    padding: 3px 6px;
    background-color: #f3eeba;
    border-radius: 10px;
    box-shadow: 3px 3px rgba(21, 21, 21, 0.62), -0.5em 0 .4em rgba(21, 21, 21, 0.62);
}


.form {
    border-radius: 10px;
    border: 5px solid;
    margin: auto;
    width: 30%;
    padding: 10px;
    background-color: #f3eeba;
    box-shadow: 3px 3px rgba(21, 21, 21, 0.62), -0.5em 0 .4em rgba(21, 21, 21, 0.62);
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.update-lesson{
    width: 30%;
    margin: auto;
    border: 0.3px solid white;
    padding: 3px 6px;
    background-color: #f3eeba;
    border-radius: 10px;
    box-shadow: 3px 3px rgba(21, 21, 21, 0.62), -0.5em 0 .4em rgba(21, 21, 21, 0.62);
}

a {text-decoration: none;}
ul { display: flex; }
a {display: block; }

@import url('https://fonts.googleapis.com/css?family=Arimo');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Nunito');
